// custom variable values
$primary: rgb(255, 248, 156);
$secondary: #ffffff;
$light: #2e2e2e;
$dark: #474747;
// import the functions & variables
@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";

// custom theme colours
$custom-theme-colors: (
  "altlight": #fffed6,
  "altdark": rgb(0, 0, 0),
);

// merge the maps to add new theme colors
$theme-colors: map-merge($theme-colors, $custom-theme-colors);

// import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";
